@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
    font-family: "Poppins", serif;
    /* font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */
  }